* {
  margin: 0;
  padding: 0;
}

#root {
  background-color: rgb(138, 138, 138);
}

#Homepage {
  display: grid;
  grid-template-rows: 10% 10%;
  height: 100vh;
  width: 100vw;
}

#EmployeePage{
  display: grid;
  grid-template-rows: 10% 10%;
  height: 100vh;
  width: 100vw;
}

#Header{
  margin: 8px;
  border: 5px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#Search{
  margin: 8px;
  border: 5px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 200%;
}

#List {
  display: grid;
  margin: 8px;
  border: 5px solid black;
}

.ListItem {
  display: flex;
  margin: 8px;
  border: 4px solid black;
  justify-content: flex-start;
  align-items: center;
}

.ListText{
  margin: 8px;
  display: flex;
    flex-direction: column;
    justify-content: center;
}

.ListItem >.Icon{
  margin: 8px;
  width: 80px;
  height: 80px;
}
